* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #091a21;
}

.container {
    width: 500px;
    height: 500px;
    background-color: #091a21;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 20px solid #061721;
    box-shadow: 0px 0px 70px black,
    inset 0px 0px 15px rgb(47, 47, 49);
}

.number {
    transform: rotate(calc(30deg * var(--n)));
    position: absolute;
    text-align: center;
    inset: 20px;
    font-size: 20px;
    background-color: transparent;
}

.capital {
    transform: rotate(calc(30deg * var(--n)));
    position: absolute;
    text-align: center;
    inset: 20px;
    font-size: 40px;
    background-color: transparent;
    text-decoration: none;
}

.number b {
    display: inline-block;
    transform: rotate(calc(0deg * var(--n)));
}

.capital b {
    display: inline-block;
    transform: rotate(calc(-30deg * var(--n)));
}

.center-dot {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
}

.hour-hand {
    position: absolute;
    width: 12px;
    height: 110px;
    border-radius: 20px;
    left: 48.7%;
    bottom: 50%;
    background-color: rgb(0, 213, 255);
    animation-name: hour;

    animation-name: clock;
    animation-duration: 43200s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    animation-timing-function: linear;
}

.minute-hand {
    position: absolute;
    width: 13px;
    height: 130px;
    border-radius: 20px;
    left: 48.7%;
    bottom: 50%;
    background-color: white;
    transform: translate(30deg);

    animation-name: clock;
    animation-duration: 3600s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    animation-timing-function: linear;
}

.second-hand {
    position: absolute;
    width: 5px;
    height: 150px;
    border-radius: 20px;
    left: 49.7%;
    bottom: 50%;
    background-color: red;

    animation-name: clock;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    animation-timing-function: linear;
}

@keyframes clock {
    from {
        transform: (0deg);
    }

    to {
        transform: rotate(360deg);
    }
}